.descriere-proiect {
    font-family: var(--secondary-font);
    font-size: 14px;
    color: var(--white-color);
}

.limbaj-programare-label {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--white-color);
}

.typescript-bar {
    background-color: #3178C6;
    height: 0px;
    border: 5px solid #3178C6;
    border-radius: 50px;
}

.css-bar {
    background-color: #663399;
    height: 0px;
    border: 5px solid #663399;
    border-radius: 50px;
}

.javascript-bar {
    background-color: #F0DB4F;
    height: 0px;
    border: 5px solid #F0DB4F;
    border-radius: 50px;
}

.proiect-cta-btn {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--white-color);
    padding: 16px 32px;
    border-radius: 16px;
    background-color: var(--code-detail-text-color);
    width: fit-content;
    cursor: pointer;
    transition: background-color 150ms ease-out;
}